html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: "Proxima Nova", sans-serif;
    box-sizing: border-box;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-rows: calc(100vh - (100vh - 80px)) calc(100vh - 80px);
    grid-template-areas:
    "header"
    "map";
}

/* header */

header {
    grid-area: header;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #e6eaf0;
    /*background: #fff;*/
    background: linear-gradient(6deg, rgb(89, 96, 234), rgb(0, 87, 182));
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px;
    grid-template-areas:
    ". logo logo . . . .";
    z-index: 1;
}

.logo {
    grid-area: logo;
}

/* map */

.map {
    grid-area: map;
}

.map-img {
    width: 100%;
    height: 100%;
}

/* Buttons */

.buttons-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 15px 25px 15px 25px;
}

.button-control:first-child {
    margin-top: 10px;
}

.button-control {
    margin-bottom: 5px;
    transition: .5s ease;
    min-height: 40px;
    cursor: pointer;
}

.button-control:hover .none {
    display: inline;
}

.none {
    display: none;
}

/* info-block */

.info-block-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 150px;
    z-index: 2001;

    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ". info ."
}


.info-block {
    position: absolute;
    bottom: 15px;
    max-width: 700px;
    border-radius: 4px;
    background: white;
    padding: 24px 20px;
    width: 100%;
    grid-area: info;
    height: fit-content;
    z-index: 2002;
    box-shadow: rgba(0, 0, 0, 0.07) 0 0.5625em 2.625em 0;
}

.title-card {
    font-family: "Proxima Nova", "Proxima Nova", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.375em;
    line-height: 1.25;
    color: rgb(38, 44, 64);

    justify-items: center;
    align-items: center;
    display: grid;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #a1a1a1;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.card-area {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 1.25em 0 0 0 !important;
}

.card {
    -webkit-justify-content: center !important;
    display: grid !important;
    justify-items: center;
    align-items: center;
    font-size: 1.125em;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 16px !important;
    border-radius: 4px;
    background: rgba(215, 222, 233, .3);
    transition: .5s ease;
}

.card:first-child {
    margin-left: 0;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 10, 0.3);
}

.card-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.card-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25;
    color: rgb(38, 44, 64);
}

.number {
    font-size: larger;
    color: blue;
}